<% include ../partials/header %>
  <div class="container">
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
      <% products.forEach(function(product){ %>
        <div class="col-sm-6 col-md-3 py-2">
          <div class="card h-100">
            <img src="<%= product.imagePath %>" class="card-img-top">
              <div class="card-body" style="text-align: justify">
                <h5 class="card-title"><%= product.title %></h5>
                <p class="card-text text" style="font-size: small;"><%= product.description %></p>
                <div class="price float-left"> $ <%= product.price %></div>
                <a href="#" class="btn btn-success float-right">Add to Cart</a>
              </div>
          </div>
        </div>
      <% }); %>
      <!--<div class="col-sm-6 col-md-3">-->
        <!--<div class="card-deck">-->
          <!--<div class="card" style="width: 18rem;">-->
            <!--<img src="https://www.extremetech.com/wp-content/uploads/2017/12/PUBG-Feature.jpg" class="card-img-top" alt="Pubg">-->
            <!--<div class="card-body">-->
              <!--<h5 class="card-title">Pubg PC</h5>-->
              <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
            <!--</div>-->
            <!--<div class="card-body">-->
              <!--<div class="price float-left">$12</div>-->
              <!--<a href="#" class="btn btn-success float-right">Buy Now</a>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-sm-6 col-md-3">-->
        <!--<div class="card-deck">-->
          <!--<div class="card" style="width: 18rem;">-->
            <!--<img src="https://www.extremetech.com/wp-content/uploads/2017/12/PUBG-Feature.jpg" class="card-img-top" alt="Pubg">-->
            <!--<div class="card-body">-->
              <!--<h5 class="card-title">Pubg PC</h5>-->
              <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
            <!--</div>-->
            <!--<div class="card-body">-->
              <!--<div class="price float-left">$12</div>-->
              <!--<a href="#" class="btn btn-success float-right">Buy Now</a>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-sm-6 col-md-3">-->
        <!--<div class="card-deck">-->
          <!--<div class="card" style="width: 18rem;">-->
            <!--<img src="https://www.extremetech.com/wp-content/uploads/2017/12/PUBG-Feature.jpg" class="card-img-top" alt="Pubg">-->
            <!--<div class="card-body">-->
              <!--<h5 class="card-title">Pubg PC</h5>-->
              <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
            <!--</div>-->
            <!--<div class="card-body">-->
              <!--<div class="price float-left">$12</div>-->
              <!--<a href="#" class="btn btn-success float-right">Buy Now</a>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
<% include ../partials/footer %>